*{
    font-family: 'Montserrat Alternates', sans-serif;
}

body{
    padding: 60px;
    background-color: #f1d271;
}

input{
    border: 2px solid white;
    color: black;
    font-size: 1.1rem;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.05);
}
input:hover{
    box-shadow: 0 3px 6px 0 #20212447;
    border-color: #dfe1e500;
}

/* Estilos GifGrid */
.category-name {
    text-align: center;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* Fin Estilos GifGrid */

/* Estilos GifGridItem */
.card {
    align-content: center;
    border: 1px solid gray;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #f4a397;
}

.card p {
    padding: 5px;
    text-align: center;
}

.card img{
    max-height: 170px;
}
/* Fin Estilos GifGridItem */