*{
    font-family: 'Montserrat Alternates', sans-serif;
}

body{
    padding: 60px;
    background-color: #f1b97a;
}

input{
    border: 2px solid white;
    color: gray;
    font-size: 1.1rem;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.05);
}
input:hover{
    box-shadow: 0 3px 6px 0 #20212447;
    border-color: #dfe1e500;
}